{
  "comments": false,
  "env": {
    "testing-unit": {
      "presets": ["latest"],
      "plugins": ["istanbul"]
    },
    "testing-e2e": {
      "presets": ["latest"]
    },
    "main": {
      "presets": ["latest"]
    },
    "renderer": {
      "presets": [
        ["latest", "uglify:after"],
      ]
    }
  },
  "plugins": ["transform-runtime", "transform-object-rest-spread"]
}
